/* Warning ribbon in the corner - remove eventually.. http://codepen.io/miroot/pen/wiKAp */

.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 9999;
}

.corner-ribbon.sticky {
  position: fixed;

  @include media($mobile) {
    position: absolute;
  }
}

.corner-ribbon.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.red {
  background: #e43;
}