@import "icons";

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src:
		local('Source Sans Pro Light'),
		local('SourceSansPro-Light'),
		url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSansPro-Light.otf.woff') format('woff'),
		url('../fonts/SourceSansPro-Light.otf.woff2') format('woff2'),
		url('../fonts/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src:
		local('Source Sans Pro'),
		local('SourceSansPro-Regular'),
		url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSansPro-Regular.otf.woff') format('woff'),
		url('../fonts/SourceSansPro-Regular.otf.woff2') format('woff2'),
		url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src:
		local('Source Sans Pro Italic'),
		local('SourceSansPro-It'),
		url('../fonts/SourceSansPro-It.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSansPro-It.otf.woff') format('woff'),
		url('../fonts/SourceSansPro-It.otf.woff2') format('woff2'),
		url('../fonts/SourceSansPro-It.ttf') format('truetype');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src:
		local('Source Sans Pro Semibold'),
		local('SourceSansPro-Semibold'),
		url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSansPro-Semibold.otf.woff') format('woff'),
		url('../fonts/SourceSansPro-Semibold.otf.woff2') format('woff2'),
		url('../fonts/SourceSansPro-Semibold.ttf') format('truetype');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src:
		local('Source Sans Pro Bold'),
		local('SourceSansPro-Bold'),
		url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SourceSansPro-Bold.otf.woff') format('woff'),
		url('../fonts/SourceSansPro-Bold.otf.woff2') format('woff2'),
		url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}