<article class="text">
  <h2><%= gettext "About" %></h2>
  <p><%= gettext "Webbkoll monitors privacy-enhancing features on websites, and helps you find out who is letting you exercise control over your privacy. We check to what extent a website monitors your behaviour and how much they gossip about the monitoring to third parties, based on what can be observed when visiting a given page. We’ve also compiled a set of recommendations for how to not track or gossip in digital environments." %></p>

  <h3 id="how"><%= gettext "How it works" %></h3>

  <p><%= gettext(~s|Webbkoll attempts to simulate what happens when a user visits a page with a typical browser without interacting with anything. The specified page is visited with <a href="https://www.chromium.org/">Chromium</a>, the browser that Google Chrome is based on; i.e., a typical end-user browser. Data (requests/responses, cookies, etc.) is collected, analyzed and presented. The browser has no addons/extensions installed, and Do Not Track (DNT) is not enabled (since this is the default setting in most browsers). Nothing is clicked, no consent is given.|) |> raw() %></p>

  <h3 id="limitations"><%= gettext "Limitations" %></h3>
  <p><%= gettext(~s|Webbkoll can only observe what happens when visiting a single page. It cannot tell you how the website is doing as a whole, how data is stored internally, what parties the data might be shared with, if the privacy policy is adequate, how the internal procedures are, and so on and so forth. A "good" Webbkoll result doesn't mean that everything is well (but a "bad" result certainly means that not all is well).|) %></p>

  <p><%= gettext(~s|This tool is primarly meant to be used as a starting point for web developers. It can only help with one piece of the puzzle.|) %></p>

  <h3 id="authors"><%= gettext "Authors and tech" %></h3>
  <p><%= gettext(~s|Webbkoll is developed by <a href="https://anders.unix.se/">Anders Jensen-Urstad</a> (programming, design) and <a href="https://twitter.com/teirdes">Amelia Andersdotter</a> (FAQ, legislative information) of <a href="https://dataskydd.net/">Dataskydd.net</a>, a Swedish non-governmental organization working on making data protection easy in law and in practice. We are not affiliated with any political party.|) |> raw() %></p>

  <p><%= gettext(~s|Webbkoll uses <a href="http://www.phoenixframework.org/">Phoenix Framework</a> (Elixir), <a href="https://github.com/GoogleChrome/puppeteer">Puppeteer</a> and numerous open source libraries; <a href="https://github.com/andersju/webbkoll#credits--licenses">see here</a> for specifics.|) |> raw %></p>

  <p><%= gettext(~s|We don't provide an API as we have limited resources, but <a href="https://github.com/andersju/webbkoll">the code is available</a> under the MIT license. See also the options below.|) |> raw %></p>

  <p><%= gettext(~s|The initial development of Webbkoll was funded by <a href="https://www.internetfonden.se">Internetfonden</a> / <a href="https://www.iis.se">IIS</a> in 2016. In late 2018 we received a small grant from <a href="https://digitalrights.fund/">Digital Rights Fund</a>. Other than that, we maintain this tool in our spare time. You can <a href="%{donate}">support our work</a>, if you wish.|, donate: Routes.site_path(@conn, :donate, @conn.assigns.locale)) |> raw() %></p>

  <h3 id="alternatives"><%= gettext "Alternatives and resources" %></h3>
  <p><%= gettext(~s|The only other similar service that we are aware of <em>that uses a real browser for testing</em> is <a href="https://privacyscore.org/">PrivacyScore</a> (open source). It does many of the same checks as Webbkoll, but additionally also checks e.g. TLS, and lets you create a list of sites to check (and rank).|) |> raw() %></p>

  <p><%= gettext(~s|For more rigorous and systematic testing we recommend that you check out <a href="https://github.com/mozilla/OpenWPM">OpenWPM</a>, which can be (and is) used to conduct large-scale studies.|) |> raw() %></p>

  <p><%= gettext(~s|<a href="https://observatory.mozilla.org/">Observatory by Mozilla</a> (open source) analyzes CSP, HSTS, TLS and various other things (some of the Webbkoll tests are based on code from Observatory). See also <a href="https://csp-evaluator.withgoogle.com/">Google's CSP Evaluator</a>.|) |> raw() %></p>

  <p><%= gettext(~s|<a href="https://www.hardenize.com/">Hardenize</a> is similar to Observatory, but also checks a domain's mail servers.|) |> raw() %></p>

  <p><%= gettext(~s|<a href="https://report-uri.com/home/tools">Report URI</a> has many useful tools: CSP analyzer/builder, header analyzer (<a href="https://securityheaders.com/">securityheaders.com</a>), SRI hash generator, etc.|) |> raw() %></p>

  <p><%= gettext(~s|<a href="https://www.ssllabs.com/ssltest/">Qualys SSL Server Test</a> is an excellent tool for analyzing a server's TLS/SSL configuration. <a href="https://testssl.sh/">testssl.sh</a> is an open source alternative.|) |> raw() %></p>

  <p><%= gettext(~s|See also <a href="https://infosec-handbook.eu/blog/online-assessment-tools/">Pros and cons of online assessment tools for web server security</a> from InfoSec Handbook (a site that also has many other relevant articles).|) |> raw() %></p>
</article>
