<section class="text">
  <h2><%= gettext "News" %></h2>

  <p>This page lists user-visible changes to Webbkoll. For the time before 2018-11-30 (when this page was added), only a few notable events are listed. For the full history, see the <a href="https://github.com/andersju/webbkoll/commits/">commits on GitHub</a>.</p>

  <article>
    <h3>2022-09-01</h3>
    <p>Thanks to Albano Battistella, Webbkoll is <%= link("now available in Italian", to: "/it/") %>!</p>

    <h3>2021-11-11</h3>
    <p>Removed geolocation information (estimated country) because the information is too unreliable, especially with CDNs.</p>

    <h3>2021-10-03</h3>
    <p>Webbkoll no longer recommends setting the <code>X-Frame-Options</code> header. It is <a href="https://www.w3.org/TR/CSP2/#frame-ancestors-and-frame-options">obsoleted</a> by the Content Security Policy directive <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/frame-ancestors"><code>frame-ancestors</code></a>, which should be used instead. Thanks Rohan Kumar.</p>

    <h3>2021-07-01</h3>
    <p>Webbkoll no longer recommends enabling <code>X-XSS-Protection</code>. <a href="https://cheatsheetseries.owasp.org/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.html#x-xss-protection-header">Read more about it</a>.</p>

    <h3>2020-06-26</h3>
    <p>Webbkoll now checks if reports are sent to third-parties with Content Security Policy's <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-uri">report-uri</a> / <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/report-to">report-to</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expect-CT">Expect-CT's</a> report-uri, and <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Network_Error_Logging">NEL's</a> report-to. Thanks <a href="https://infosec-handbook.eu/">InfoSec Handbook</a> for the suggestion and comments.</p>

    <h3>2019-05-24</h3>
    <p>Thanks to <a href="https://efn.no/en/home/team#Blenning">Tom Fredrik Blenning</a> - <a href="https://efn.no">Elektronisk Forpost Norge</a>, Webbkoll is <%= link("now available in Norwegian", to: "/no/") %>!</p>

    <h3>2019-01-15</h3>
    <p>We could not find any website that 1) had the consolidated version (i.e., with <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32016R0679R%2802%29">corrections</a> incorporated) of the GDPR <em>including the recitals</em>, 2) provided it in all 24 EU languages, and 3) made it easy to link to individual articles/recitals. So we hacked together one ourselves: <a href="https://gdpr.dataskydd.net/">https://gdpr.dataskydd.net/</a>. It's now used for the GDPR references on the Results page.</p>

    <p>EUR-Lex <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A02016R0679-20160504">does provide a consolidated GDPR</a>, but it doesn't include the recitals (which also received corrections!). Additionally they don't make it easy to link to individual articles, unless you dig for IDs in the HTML source. So we took the XML versions of the consolidated GDPR, added the recitals, and manually applied the corrections to the recitals. All XML files and everything used to generate our GDPR site is <a href="https://github.com/andersju/gdpr-xml">available on GitHub</a> (beware: lots of ugly XSLT). Please report any mistakes.</p>

    <h3>2019-01-11</h3>
    <p>Thanks to <%= link("Tomas Jakobs", to: "https://jakobssystems.net") %>, Webbkoll is <%= link("now available in German", to: "/de/") %>!</p>

    <h3>2018-11-30</h3>
    <p>New version of Webbkoll launched, thanks to a small grant from <a href="https://digitalrights.fund/">Digital Rights Fund</a>. Changes/additions:</p>

    <ul class="default">
      <li>Redesigned a bit to hopefully make things a bit more clear and navigable. Better separation between results and general information/advice. Separate boxes for "what is this" and "how do you do this". Hide some things between expandable text boxes. Now works better on mobile.</li>
      <li>Added Content Security Policy (CSP) analysis, Subresource Integrity (SRI) analysis, and improved X-Content-Type-Options/X-Frame-Options/X-XSS-Protection/HSTS checks. This code was ported from Mozilla's <a href="https://github.com/mozilla/http-observatory">Observatory</a>.</li>
      <li>More cooke information shown (HttpOnly, Secure, SameSite)</li>
      <li>localStorage usage shown</li>
      <li>IP address and country (with flags!) shown for every third-party host</li>
      <li>Chromium's security state information shown</li>
      <li>Information/technical advice rewritten (sometimes quoted from <a href="https://developer.mozilla.org/en-US/">MDN</a>)</li>
      <li>Many references to relevant articles and recitals in the GDPR added</li>
      <li>Lots of work to make things a bit cleaner internally</li>
      <li>You can now <a href="https://github.com/andersju/webbkoll/blob/master/TRANSLATIONS.md">help translate Webbkoll</a>! We hope to add a few more languages, such as French and German, soon.</li>
    </ul>
  </article>

  <article>
    <h3>2018-07-08</h3>
    <ul class="default">
      <li>Switch from PhantomJS to Chromium in the backend, fixing many issues</li>
    </ul>
  </article>

  <article>
    <h3>2016-06-25</h3>
    <ul class="default">
      <li>Code published to GitHub</li>
    </ul>
  </article>

  <article>
    <h3>2016-05-10</h3>
    <ul class="default">
      <li>Beta version made public</li>
    </ul>
  </article>
</section>
