<!DOCTYPE html>
<html lang="<%= @conn.assigns.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= assigns[:page_description] %>">
    <meta name="author" content="Dataskydd.net">
    <meta name="referrer" content="no-referrer">
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/dataskydd_eye2.png") %>">
    <%= if @view_template == "status.html" do %>
      <meta http-equiv="refresh" content="5">
    <% end %>
    <title><%= assigns[:page_title] %> | Webbkoll - dataskydd.net</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/mstile-144x144.png">

    <!--[if lt IE 9]>
      <script src="<%= Routes.static_path(@conn, "/js/html5shiv.min.js") %>"></script>
    <![endif]-->
  <body>
    <header class="navigation">
      <div class="navigation-wrapper">
        <nav>
          <ul class="navigation-menu">
            <li class="nav-link logo">
              <a href="/<%= @conn.assigns.locale %>">
                <i class="icon-eye-slash"></i>
                <span>webbkoll</span> | <span class="ds-orange">dataskydd</span><span class="semibold">.net</span>
              </a>
            </li>
            <li class="nav-link">
              <%= link gettext("News"), to: Routes.page_path(@conn, :news, @conn.assigns.locale) %>
            </li>
            <li class="nav-link">
              <%= link gettext("About"), to: Routes.page_path(@conn, :about, @conn.assigns.locale) %>
            </li>
            <li class="nav-link">
              <%= link gettext("FAQ"), to: Routes.page_path(@conn, :faq, @conn.assigns.locale) %>
            </li>
            <% current_lang = @conn.assigns.locale %>
            <li class="nav-link">
              <%= link language_from_code(current_lang), to: path_helper(@conn, current_lang), aria_haspopup: "true", class: "language-select" %>
              <ul class="dropdown" aria-label="submenu">
                <%= for lang <- Map.keys(Application.get_env(:webbkoll, :locales)) |> Enum.reject(& &1 == current_lang) do %>
                <li>
                  <%= link language_from_code(lang), to: path_helper(@conn, lang) %>
                </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </nav>

        <div class="navigation-tools">
          <div class="search-bar">
           <form role="search" method="get" action="/<%= @conn.assigns.locale %>/check">
              <input name="url" type="search" placeholder="example.com" aria-label="<%= gettext("URL to check") %>">
              <button type="submit" aria-label="<%= gettext("Search") %>" title="<%= gettext("Search") %>">
                <i class="icon-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </header>

    <main>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <div class="footer-outer">
      <footer>
        <div class="alpha">
          <p id="disclaimer">
            <%= gettext "Test results are stored in memory on our server for 24 hours. We don't show a list of tested URLs. We don't use URLs or test results. We don't log IP addresses and we don't use cookies." %>
          </p>
          <p>
            <%= gettext "Developed by" %> <a class="no-decoration" href="https://dataskydd.net/"><span class="ds-orange">dataskydd</span><span class="semibold white">.net</span></a>.
          </p>
        </div>

        <div class="beta">
          <p><%= gettext("The code is <a href=\"https://github.com/andersju/webbkoll\">available on GitHub</a>.") |> raw %></p>
          <p><%= gettext("Feedback? Questions? <a href=\"mailto:info@dataskydd.net\">info@dataskydd.net</a>") |> raw %></p>
          <p>Twitter: <a href="https://twitter.com/dataskyddnet">@dataskyddnet</a></p>
          <p><%= link gettext("Support us"), to: Routes.page_path(@conn, :donate, @conn.assigns.locale) %></p>
          <p><small><%= Application.get_env(:webbkoll, :version) %></small></p>
        </div>
      </footer>
    </div>

    <script src="<%= Routes.static_path(@conn, "/js/webbkoll.js") %>"></script>
